doctype html
html
  head
    title Quill Editor Demo
    link(rel='stylesheet', type='text/css', href='styles/style.css')
    meta(charset='utf-8')

  body
    #content-container
      #editor-wrapper
        #formatting-container
          select.sc-font(title='Font')
            option(value='sans-serif', selected=true)  Sans Serif
            option(value='serif')      Serif
            option(value='monospace')  Monospace
          select.sc-size(title='Size')
            option(value='small')   Small
            option(value='normal', selected=true) Normal
            option(value='large')   Large
            option(value='huge')    Huge
          select.sc-color(title='Text Color')
            option(value='white')   White
            option(value='black', selected=true)  Black
            option(value='red')     Red
            option(value='blue')    Blue
            option(value='lime')    Lime
            option(value='teal')    Teal
            option(value='magenta') Magenta
            option(value='yellow')  Yellow
          select.sc-background(title='Background Color')
            option(value='white', selected=true)   White
            option(value='black')   Black
            option(value='red')     Red
            option(value='blue')    Blue
            option(value='lime')    Lime
            option(value='teal')    Teal
            option(value='magenta') Magenta
            option(value='yellow')  Yellow
          select.sc-align(title='Text Align')
            option(value='left', selected=true) Left
            option(value='center')  Center
            option(value='right')   Right
            option(value='justify') Justify
          button.sc-format-button.sc-bold(title='Bold') Bold
          button.sc-format-button.sc-italic(title='Italic') Italic
          button.sc-format-button.sc-underline(title='Underline') Under
          button.sc-format-button.sc-strike(title='Strikethrough') Strike
          button.sc-format-button.sc-link(title='Link') Link
          button.sc-format-button.sc-image(title='Image') Image
          button.sc-format-button.sc-list(title='List') List
          button.sc-format-button.sc-bullet(title='Bullet') Bullet
        #editor-container
          include content

    script(type='text/javascript', src='../quill.js')
    script(type='text/javascript').
      var editor = new Quill('#editor-container', {
        logLevel: 'info',
        modules: {
          toolbar: { container: '#formatting-container' }
        }
      });
      editor.on('selection-change', function(range) {
        console.log('selection-change', range)
      });
      editor.on('text-change', function(delta, source) {
        console.log('text-change', delta, source)
      });
